


body {
  /* display: grid;
  grid-gap: 1em;
  grid-template-rows: auto 1fr auto; */
  
  padding: 0 4%;

  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}


h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.15em;
  margin-top: 2.5rem;
}

h2 {
  font-size: 1.15em;
  margin-top: 1.3rem;
}

.lede {
  font-size: 1.3em;
  line-height: 1.3em;
}

.lede + p {
  margin-top: -.75em;
}


@media screen and (min-width: 768px) {
 body{
  width: 90%;
  max-width: 50rem;
  min-width: 30em;
  margin: 0 auto;
  padding: 0 2%;

  font-size: 1em;
  line-height: 1.5em;
  



 }
}