


body {
  width: 90%;
  max-width: 50rem;
  min-width: 30em;
  margin: 0 auto;
  padding: 0 2%;

  /* display: grid;
  grid-gap: 1em;
  grid-template-rows: auto 1fr auto; */

  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}


h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.15em;

}

h2 {
  font-size: 1.15rem;
  margin-top: 1.3rem;
}

.lede {
  font-size: 1.3rem;
  line-height: 1.3em;
}

.lede + p {
  margin-top: -.75em;
}


