


body {
  max-width: 50%;
  min-width: 30em;
  margin: auto;
  margin-top: 0;
  padding: 2%;

  
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.5em;

  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto 1fr auto;

  
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.15em;
  margin-top: 2em;

}

h2 {
  font-size: 1.15rem;
  margin-top: 1.3rem;
}

.lede {
  font-size: 1.3rem;
  line-height: 1.3em;
}

.lede + p {
  margin-top: -.75em;
}


