


html {
  width: 500px;
  margin: auto;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.4em;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15em;
  margin-top: 2em;

}


h2 {
  font-size: 1.15rem;
  margin-top: 1.1rem;
}

.lede {
  font-size: 1.3rem;
  line-height: 1.25em;
}

.lede + p {
  margin-top: -1em;
}

p {
  margin-top: -0.5rem;
}
